<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/base.css" type="text/css" media="all" />
        <link rel="alternate" href="/rss.xml" type="application/rss+xml" title="RSS" />
    </head>
    <body>
    <div class="content">
        <a href="/">&lt;&lt; Home</a>
        <div>
          <h2>{{ page.title }}</h2>
          {{ page.content }}
        </div>
  </div>
  </body>
</html>
